body{
  background:black;
  color:#00ff00;
  font-family:monospace;
  text-align:center;
  padding-top:30px;
}

input,button{
  padding:10px;
  margin:10px;
  background:black;
  color:#00ff00;
  border:1px solid #00ff00;
}

button:hover{
  background:#00ff00;
  color:black;
}

.bar{
  width:60%;
  height:18px;
  border:1px solid #00ff00;
  margin:20px auto;
}

#progress{
  height:100%;
  width:0%;
  background:#00ff00;
}

.terminal{
  width:70%;
  height:200px;
  border:1px solid #00ff00;
  margin:20px auto;
  padding:10px;
  text-align:left;
  overflow-y:auto;
  background:#000;
  font-size:14px;
}

footer{
  margin-top:20px;
  font-size:12px;
  opacity:0.7;
}